/* Universal */

html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
  background-color: #b9faff;
  overflow: scroll;
}

/* Header */

.header {
  background-color: #6D6E71;
  font-family: "Times New Roman", serif;
  color: white;
  height: 100px;
  text-align: center;
  padding-right: 150px;
  word-spacing: 7px;
}

.pageTitle {
  text-align: center;
  font-size: 25px;
  color: white;
}

.pageLink {
  color: white;
}

#logo {
  float: left;
  width: 150px;
}
